h1, p {
}

body {
    background-color: #2c2c2c;
}

.white {
    color: white;
}

svg {
    background-color: white;
    background-image: url("../images/graph_background.png");
}

path.link {
    fill: none;
    stroke: #005074;
}

path.link.twofive {
    opacity: 0.25;
}

path.link.fivezero {
    opacity: 0.50;
}

path.link.sevenfive {
    opacity: 0.75;
}

path.link.onezerozero {
    opacity: 1.0;
}

path.link.cycle {
    stroke: red;
    opacity: 1;
}

path.link.clicked {
    stroke: #5000ff;
    opacity: 1;
}

path.link.clicked.cycle {
    stroke: #b600ca;
}

circle {
    stroke: #777;
    stroke-width: 1.5px;
}

text {
    fill: white;
    font: 10px sans-serif;
    pointer-events: none;
}

.fr {
    float: right;
}

.hidden {
    visibility: hidden;
}

.radio {
    color: white;
}

#radioBox {
    float: left;
    width: 45%;
}

.myLabel {
    font-weight: 400;
}

.disabled {
    color: red;
}

#realVisitCheckBox {
    font-weight: 400;
    color: white;
    margin-top: 9px;
    float: right;
    width: 55%;
}

#contentContainer {
    width: 1251px;
    margin: auto;
}

#controlPanel{
    padding-left: 10px;
    width: 250px;
    float: right;
}
.controlPanelButton {
    margin-bottom: 5px;
}

#graphDiv {
    width: 1000px;
    float: left;
}

#highlightControls {
    width: 970px;
    margin: 15px;
}

#cycleBarInfo {
    float: right;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: left;
    white-space: nowrap;
    padding: 3px;
    margin: 1px;
    color: white;
}

div .selectedBar{
    background-color: red;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/*My slider stuff*/

.sliderLabelDiv {
    float: right;
    width: 180px;
}

.sliderLabelDiv p {
    float: left;
    margin-top: 6px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: steelblue;
}

input:focus + .slider {
    box-shadow: 0 0 1px steelblue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
